<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body><!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../public/css/dindex.css">
        
      </head>
    <body>
         
    
        <div class="container-fluid mx-auto my-3 ">
          <div class="row">
              <!-- <div class="col-2 d-grid gap-2">
                  
                       <a href='/' type="button" class="btn btn-secondary fw-bold">Logout</a>
    
                  
              </div> -->
              <div class="col">
                  <%- include('header.ejs')%>
              </div>
    
          </div>
      </div>
      <div class="row pt-5">
          <div class="col-12 col-lg-2">
              <%- include('left.ejs')%>
          </div>
          
          <div class="col-12 col-xl-8 mx-auto">
            <div class="container bg-gray">
              <h2 class="text-center text-white">View Registration</h2>
              <% if(data.length>0) { %>
              <table class="table  table-dark table-striped scrolldown table-responsive">
                  <thead class="text-center">
                      <tr>
                        <th scope="col">Index</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Mobile</th>
                        <!-- <th scope="col">Password</th>               -->
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                    
                        <% for(var i=0; i<data.length; i++){ %>
                      
                      <tr>
                        
                        <td><%= i %></td>
                        <td><%=data[i].firstname %></td>
                        <td><%=data[i].lastname %></td>
                        <td><%=data[i].email %></td>
                        <td><%=data[i].mobile %></td>
                        <!-- <td><%=data[i].password %></td>                     -->
                        <td>
                          <div class="d-grid gap-2">
                          <a href="/useredit/<%= data[i]._id %>" class="btn btn-secondary mb-2"><i class="fa fa-pencil-square-o" aria-hidden="true"> Edit</i></a>
                          <a href="/userdelete/<%= data[i]._id %>" class="btn btn-secondary"><i class="fa fa-trash" aria-hidden="true"> Delete</i></a>
                          <a href="/usershow/<%= data[i]._id %>" class="btn btn-secondary"><i class="fa fa-pencil-square-o" aria-hidden="true"> View</i></a>
                          
                         </div>
                          
                          
                      </td>
                      </tr>
                      
                   
             <% } %>
                
            </tbody>
                </table>
                <% } else { %>
                    NO RECORD FOUND
                    <% } %>

              </div>
          
          
          
          </div>
          
          <!-- row:end -->
      </div>
    
    </body>
    </html>

  
    